
@using Microsoft.AspNetCore.Identity
@using misTesoros.Data
@using misTesoros.Components
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!-- style="color: @( (bColor == "#ffffff") ? "000" : bColor );" -->

<div class="p-2 w-100" style="background-color: @bColor; border-radius: 5px;">
    <div class="p-2 d-flex" >
        <div class="col-4 mr-3 p-3" style="background-color: white;">
            <AgregarTesoros Uid="@userId"  />
        </div>
        <div class="w-100" style="background-color: white;">
            <ListaTesoros Uid="@userId" ChangeRL="@evnt" />
        </div>
    </div>
</div>



@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private string bColor = "#ffffff";
    private AppUser user = new AppUser();
    private Guid userId;

    private void evnt(){
        Console.WriteLine("enento");
    }

    protected override async Task OnInitializedAsync(){
        var authState = await authenticationStateTask;
        user = await UserManager.GetUserAsync(authState.User);
        userId = user.Uid;
        bColor = user.Color;
    }
}