@inject IJSRuntime runtime
@using System.Text.Json
@using misTesoros.Services
@inject ITesoroService TS
@using misTesoros.Data

<div class="map" id="vista-mapa"></div>

@code
{
    [Parameter]
    public Guid TiD {get; set;}
    
    protected override async Task OnAfterRenderAsync(bool firstRender){
        if (firstRender){
            Coordinate c = await TS.GetCoordinate(TiD);
            string json = $"[{JsonSerializer.Serialize(c)}]";
             await runtime.InvokeVoidAsync("initMap", json, 15);
        }
    }
}