@page "/mapa"
@using Microsoft.AspNetCore.Identity
@using misTesoros.Data
@using misTesoros.Components
@inject UserManager<AppUser> UserManager


<AuthorizeView>
    <Authorized>
        <Mapa TID="@userId"/>
    </Authorized>
    <NotAuthorized>
        <p class="h2">
            Aqui Guardamos Tus Secretos, inicia Sesión para que empiezes a coleccionar tesoros
        </p>
    </NotAuthorized>
</AuthorizeView>


@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private string userId;
    protected override async Task OnInitializedAsync(){
        var authState = await authenticationStateTask;
        if(authState.User.Identity.IsAuthenticated){
            AppUser user = await UserManager.GetUserAsync(authState.User);
            userId = user.Uid.ToString();
        }
    }
}